Source: cpustat
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.6.2
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13),
               libncurses-dev
Homepage: https://github.com/ColinIanKing/cpustat

Package: cpustat
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: periodic cpu utilization statistics
 cpustat periodically reports the current CPU utilization of running tasks
 and can optionally report per CPU and per task utilization statistics at
 the end of a run.  cpustat has been designed and optimized to use a minimal
 amount of CPU cycles to monitor a system hence it is a light weight
 alternative to traditional process monitoring tools such as top.
